#cps_test {
    flex-flow: column nowrap;
}

#box_click {
    margin: 1em;
    align-items: center;
    width: vmin;
    height: 10em;
    border-radius: 5px;
    background-color: #b6c6d4;
    color: rgb(11, 12, 12);
    border-radius: 2px;
    border-color: black;
    font-size: 1.3em;
    user-select: none;
}